.icon {
  display: inline-block;
  flex-shrink: 0;
  object-fit: contain;
  vertical-align: middle;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon--sm {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.icon--md {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.icon--lg {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

